.button {
  text-align: left;
  padding: 10% 20%;
  height: 50px;
  background: lightblue;
  border-radius: 10px;
}
body {
  text-align: center;
}

/* Bonus Page Styling */
#container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 30px;
}